@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}  
.container-main {
    
}

.collapse {
    display: none;
}
  /* Hero Style Start */
  .hero {
    background-image: url(/images/hero.jpg);
    height: 600px;
    background-size:cover;
    background-position: center;
    position: relative;
  }
  /* Hero Style End */
  
  .hero-form {
    border: 3px solid #f6f6f6;
    background-color: #033b61;
    padding: 20px;
    width: 500px;
    color: #ededed;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }
  
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  
  .form-input {
    border: 1px solid #196087;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #76848c;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .hero-form label {
    margin: 0 5px;
  }
  
  .hero-form button {
    color: #f2f2f2;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #024e76;
  }

  .book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
  }
  
  .book .row .image{
    flex:1 1 40rem;
  }
  
  .book .row .image img{
    width:100%;
  }
  
  .book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
  }
  
  .book .row form .inputBox{
    padding:.5rem 0;
  }
  
  .book .row form .inputBox input{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
  }
  
  .book .row form .inputBox h3{
    font-size: 2rem;
    padding:1rem 0;
    color:#666;
  }
  
  .navbar-brand {
    color: black;
}

.navbar {
    position: relative;
    display: block;
    border-radius: 0;
    padding: 30px;
    background-color:#033b61;
    min-height: 50px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.navbar-brand {
    font-size: 35px;
    color: #303030;
    letter-spacing: -1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 12px 15px;
    border: 2px solid #bbb;
    width: 98%;
}

.btn1 {
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
    background-color: #1279be;
    color: white;
}
/*Search CSS*/

.navbar-nav a {
    font-size: 1.2em;
    color: #333;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #bbb;
}

.navbar-nav li a:hover {
    color: blue;
    cursor: pointer;
    border: 2px solid blue;
    background: white;
}

footer {
    background-color: #333;
    padding: 40px 0px;
    color: #555;
    font-family: sans-serif;
}

.short-row {
    font-family: "PT SANS", sans-serif;
}

.short-row span,
.location span,
.menus span,
.text span {
    color: #ccc;
    font-weight: 800;
    padding-top: 22px;
    padding-bottom: 22px;
    display: block;
    font-family: "PT SANS", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

.wrap {
    background: #eee;
}

.location li p,
.menus li a,
.text p {
    color: #ccc;
    text-align: justify;
    font-family: "PT SANS", sans-serif;
    /*    text-decoration: none;*/
}

.short-row span,
.short-row p {
    color: #033b61;
    font-size: 15px;
}

.short-row a {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    border-bottom: solid 1px #ccc;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

.menus li {
    border-bottom: 1px solid #033b61;
    padding: 10px 0;
    /*    color: white;*/
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.menus li a {
    color: white;
    letter-spacing: 1px;
}

.menus li a:hover {
    text-decoration: none;
    color: #ccc;
}

.main-foot {
    display: block;
    background: #0464a4;
    color: #033b61;
    padding: 22px 0 10px 0;
}

.social li {
    display: inline;
}

.social i {
    color: #333;
}

.pic {
    height: 250px;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic1 {
    background-image: url(../images/outdoor.jpg);
}

.pic2 {
    background-image: url(../images/person.jpg);
}

.pic3 {
    background-image: url(../images/travel.jpeg);
}

.pic:hover {
    cursor: pointer;
    opacity: 0.7;
}

.short-row {
    padding: 45px 0;
}

.short1 a {
    border: none;
}
/*Overlay*/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.96;
    top: 0;
    transition: 0.15s;
    left: 0;
    background-color: #111;
    overflow-y: hidden;
}

.search {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.96;
    top: 0;
    transition: 0.15s;
    left: 0;
    background-color: #111;
    overflow-y: hidden;
}

.overlay-content {
    position: relative;
    top: 5%;
    margin: 0 auto;
    font-size: 30px;
    padding: 30px;
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.search-content {
    top: 18px;
    position: relative;
    padding: 12px;
}

.overlay-content a {
    padding: 20px;
}

.overlay a {
    color: white;
    border-bottom: 1px solid #ADD8E6;
    display: block;
}

.overlay a:hover,
.overlay a:focus {
    border-bottom: 4px solid #fff;
    text-decoration: none;
}

.search {
    overflow-y: hidden;
}

.about {
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 772px;
    font-size: 27px;
    font-weight: 600;
}

hr {
    margin: 0;
}

.hamb button {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 12px;
    border: none;
    background: #333;
    color: white;
}

.nav-stacked {
    text-align: center;
    background: #222;
    border: none;
    color: white;
}

.nav-stacked a {
    font-size: 16px;
    color: white;
}

#navres .nav li a:hover,
#navres .nav-stacked li a:hover {
    background: #ddd;
    color: black;
}

.active a {
    background: #ddd;
    color: black;
}

@media only screen and (max-width: 894px) {
    .pic {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 382px) {
    .pl {
        width : 100%;
        text-align: center;
    }
    .social {
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .hamb {
        display: none;
    }
}

@media only screen and (max-width: 769px) {
    .navbar-right {
        display: none;
    }
    .location li p,
    .menus li a,
    .text p,
    .short-row p,
    .arow p {
        font-size: 17px;
    }
    .location li p {
        text-align: center;
    }
    .short-row span,
    .location span,
    .menus span,
    .text span {
        font-size: 17px;
        text-align: center;
    }
    .short-row span,
    .text span {
        text-align: left;
    }
    .navbar {
        padding: 0px;
    }
    .image {
        height: 200px;
        padding: 0px;
    }
    .image p {
        width: 90%;
        font-size: 17px;
    }
    .pic,
    .img {
        height: 150px;
        width: 100%;
    }
    .menus {
        text-align: center;
    }
    .text-cen span {
        border-top: 1px solid #555;
        text-align: center;
    }
    .text-cen .location span {
        border-top: none;
    }
    .blogpic {
        width: 60%;
    }
    .navbar {
        padding: 0;
        margin: 0;
    }
    .blogs .blogpic {
        height: 200px;
        width: 60%;
    }
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 370px) {
    .navbar-brand {
        font-size: 23px;
    }
    .blogs .head {
        font-size: 20px;
    }
    .blogs .blogpic {
        height: 200px;
    }
    .blogs .blogpic {
        height: 180px;
        width: 80%;
    }
}
